#===============================================================================
#INPUT PARAMETERS
#===============================================================================
CATALOGUE ./stardust_bri1335_files/bri1335_0417_phot.fits
BANDS_FILE ./stardust_bri1335_files/example.bands
EXTRA_BANDS_FILE ./stardust_bri1335_files/extra.bands
AGN_EXTRA_BANDS_FILE ./stardust_bri1335_files/agn_extra.bands
PARAM_FILE ./stardust_bri1335_files/example.param
#===============================================================================
#OUTPUT PARAMETERS
#===============================================================================
PATH ./stardust_bri1335_out/
OUTPUT_NAME bri1335
FIGLOC ./stardust_bri1335_out/figures
sedloc ./stardust_bri1335_out/seds
covarloc ./stardust_bri1335_out/covar
SAVE_FIGURE 1
SAVE_TABLE 1
SAVE_SED 1
SAVE_COVAR 1
#===============================================================================
#GENERAL SETTINGS
#===============================================================================
VERBOSE 1 
FLUX_UNIT Jy
EXTRA_BANDS 1
AGN_EXTRA_BANDS 1
USE_COLD_DL 1
RADIO_METHOD delv20
#===============================================================================
#ADVANCED SETTINGS
#===============================================================================
UNCERT_SCALE 0.05
QSO 1
IGM_SWITCH 1
USE_OWN_STELLAR_MASS False
ABZP 23.9
#===============================================================================
#TEMPLATE PARAMETERS
#===============================================================================
FIT_DUST 1
FIT_AGN 1
FIT_STELLAR 1
#===============================================================================